/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  text-decoration: none;
  font-family: 'barlow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text);
}

button, summary {
	cursor: pointer;
}

/* neemt hele pagina in beslag, ook randjes */
body{
	margin:0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#eee;
	--color-red:#e30714;
	--color-blauw:#273372;
}





/****************/
/* JOUW STYLING */
/****************/


main{
	background-color:
}

li {
	list-style: none;
}

/* whitespace top weghalen */
ul {
	margin:auto;
}
/* HEADER */

header {
	top:100%;
	background-color: var(--color-blauw);
	padding: 1em 2em 1em 2em;

}

header h1{
	visibility: hidden;
}

header ul {
	display: flex;
	justify-content:left;
	gap: 2em;
}

header button {

}







/* MAIN */

/* Responsive background red */
section:first-of-type{
	background-image: url("https://www.stimorol.nl/~/media/stimorol/nl2019/Images/home/red-background-star");
	background-position: center center;
	background-size: cover;

}

main section:first-of-type nav{
	visibility: hidden;
}

main section h3{
    display: grid;
    align-items: center;
}

section:nth-last-of-type(2) {
	background-color:var(--color-blauw);
}


/* Artikelen */
main section:last-of-type article{
	background-color:var(--color-red);
}


 Kleine tekst linksboven artikelen
section:nth-of-type(3) article p {
	color: var(--color-red);

}






/* FOOTER */

/* Socials Icons */

footer{
	background-color:var(--color-red);
	BOTTOM
}

footer ul:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer ul:first-of-type li {
	padding: 1em 1em 1em 1em;
	
}

footer ul:first-of-type li a{
	
}

/* Links in de footer */
footer ul:nth-of-type(2) li {
	/* display: flex; */


}

footer ul:nth-of-type(2) li a{
	

	
}

/* Tekst onderaan p */
footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: smaller;
}

/* Logo onderaan */
footer a:last-of-type img {
	display: flex;
	justify-content: center;
	padding-bottom: 1em;

}

/* OVERIGE */

/* HEADER SCHUIN */ 
header >  button {
	background-image: linear-gradient(115deg, transparent .7em, white .7em);
	font-weight: 600;
	color: var(--color-blauw);
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 25%);
	border: none;
	background-color: transparent;
	padding-left:1em;
}

button a{
	color: var(--color-blauw);
	font-size: smaller;
}



 /* Zo gedaan zodat hij niet groter wordt dan */
img {
	max-width: 100%;
	height: auto;
}



/* .open is voor js. Als hij is uitgeklapt voor hamburger menu bijvoorbeeld */

/* Text align center voor de dingen die je niet flext. Niet overmatig flexen */
/* :hover -> daar moet je hem stylen. */