/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  text-decoration:none;
  font-family:'barlow', sans-serif;
  font-size:18px;
  font-weight:700;
  text-transform:uppercase;
  color:var(--color-text);
}

button, summary {
	cursor:pointer;
}

a:hover {
	text-decoration:underline;
}

a:visited {
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-red:#e30714;
	--color-blauw:#273372;
}





/****************/
/* JOUW STYLING */
/****************/

/* whitespace top weghalen */
/* ul {
	margin:auto;
} */

/* neemt hele pagina in beslag, ook randjes */
body{
	margin:0;
}


/* HEADER */

header{
	padding-bottom:.1em;
	position:relative;
	background-color:var(--color-blauw);
	position:relative;
	z-index:50;
	margin-top: -1em;
	padding-top:1em;
}

header img {
	position:absolute;
	max-width:12em;
	transform: translate(1em, 1em);
	z-index:3;
}

header li {
	list-style:none;
}

header nav{
	position: absolute;
	visibility:hidden;
}

/* Hamburger menu als hij open geklapt is */
header nav.open {
	visibility: visible;
	text-align: center;
	padding-top: 10em;
	padding-bottom: 10em;
	justify-content: space-between;
	z-index: 100;
	transform: translateY(-3em);
	transition: 50ms;
}
header nav.open {
	width: 100%;
	background-color:var(--color-blauw);
	background-image: url(/images/navi-bg.png);
	float:bottom;
}


header nav.open ul {
	display: flex;
	flex-direction: column;
	gap:1em;
}

header nav.open ul li a {
	font-size:2em;
	cursor:pointer;
}

/*  H1 verbergen op de page. Bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

header > h1{
	clip:rect(0 0 0 0);
	clip-path:inset(50%);
	height:1px;
	overflow:hidden;
	position:absolute;
	white-space:nowrap;
	width:1px;
}

header > h1 > button {
	display: flex;
	flex-wrap: nowrap;
}

header > ul {
	display:flex;
	justify-content:left;
	gap:2em;
	flex-wrap: nowrap;
	z-index: 101;
}

header > ul > li {
	max-width:19em;
}

/* HEADER SCHUIN hb menu */ 
header >  button {
	background-image:linear-gradient(110deg, transparent .7em, white .7em);
	font-weight:600;
	color:var(--color-blauw);
	box-shadow:5px 5px 10px 0 rgb(0 0 0 / 25%);
	border:none;
	background-color:transparent;
	position: absolute;
	right:1em;
	transform: translateY(.9em);
	min-width:2em;
	aspect-ratio:1/1;
	padding-inline:1em;
	padding-block:.5em;
	z-index: 200;
}

header > button:hover {
	color: rgb(63, 63, 63);
}

/* HAMBURGER ICON */
header > button > ul {
	display:grid;
	list-style:none;
	margin-left:0;
	padding-left:0;
}

header > button > ul > li {
	height:.20em;
	width:1em;
	background-color:var(--color-blauw);
	grid-column-start:1;
	grid-row-start:1;
	transition:.25s;
}

/* hamburger menu gesloten */
header > button > ul > li:nth-of-type(1) {
	transform:translateY(-.33em);
}

header > button > ul > li:nth-of-type(3) {
	transform:translateY(.33em);
}

/* hamburger menu als hij open is */
header > button.open > ul > li:nth-of-type(1) {
	transform:rotate(45deg);
}
header > button.open > ul > li:nth-of-type(2) {
	transform:scaleX(0);
}
header > button.open > ul > li:nth-of-type(3) {
	transform:rotate(-45deg);
}

@media (min-width:48em) {
	header > ul {
		justify-content: flex-end;
		padding-right:3em;
	}
}




/* MAIN */
main li {
	list-style:none;
}

/* Eerste sectie onderaan de header */
main section:nth-of-type(1) {
	position: relative;
	display:grid;
	justify-items:center;
	padding:6em;
	background-image:url("https://www.stimorol.nl/~/media/stimorol/nl2019/Images/home/red-background-star");
	background-position:center center;
	background-size:cover;
}

main section:nth-of-type(1) h2 {
	max-width:20em;
	text-align:center;
	font-size:1.5em;
}

main section:nth-of-type(1) h2 strong {
	display:block;
	font-size:calc(40/24 * 1em);
}

main section:nth-of-type(1) > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9em;
	height: 3em;
	margin-block: 2em;
	color: var(--color-blauw);
	background-color: var(--color-text);
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 25%);
}

main section:nth-of-type(1) > a:hover {
	color: var(--color-text);
	background-color: var(--color-blauw);
}

/* Button tussen twee secties */
main section:nth-of-type(1) > button {
	position:absolute;
	bottom:-2em;
	height: 4em;
	width: 4em;
	border:none;
	border-radius: 100%;
	border-color: var(--color-background);
	z-index: 1;
}

/* Arrow in the beneden knop */
section:nth-of-type(1) > button span{
	height:1em;
   	width:1em;
	display: inline-block;
	border-left: .25em solid var(--color-red);
	border-top: .25em solid var(--color-red);
	border-right:none;
	border-bottom: none;
	color: var(--color-red);
	transform: translateY(1em);
	transform: rotate(225deg);
	background-color: transparent;
}

 
@media  {
	main section:nth-of-type(1) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows:max-content 1fr;
		justify-items:start;
		align-content: center;
	}

	main section:nth-of-type(1) h2 {
		text-align: left;
	}

	main section:nth-of-type(1) img {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		place-self: center;
		width:100%;
		height:100%;
		object-fit: contain;
	}

	main section:nth-of-type(1) > button {
		left: 50%;
	}
}


@media (min-width:82.5em) {
	main section:nth-of-type(1) h2 {
		font-size: 2.5em;
	}
}





/*  Tweede sectie, blauw */
main section:nth-of-type(2) {
	position: relative;
	display:grid;
	justify-items:center;
	padding:6em;
}

main section:nth-of-type(2) img {
	max-width:15em;
}

main section:nth-of-type(2) h2 {
	max-width:20em;
	text-align:center;
	font-size:1.5em;
}

main section:nth-of-type(2) h2 strong {
	display:block;
	font-size:calc(40/24 * 1em);
}

main section:nth-of-type(2) > a {
	display: flex;
	flex-wrap: nowrap; 
	align-items: center;
	justify-content: center;
	width: 16em;
	height: 3em;
	margin-block: 2em;
	color: var(--color-blauw);
	background-color: var(--color-text);
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 25%);
}

main section:nth-of-type(2) > a:hover {
	color: var(--color-text);
	background-color: var(--color-red);
}

main section:nth-of-type(2) h2 {
	max-width:20em;
	text-align:center;
	font-size:1.5em;
}

main section:nth-of-type(2) h2 strong {
	display:block;
	font-size:calc(40/24 * 1em);
}

section:nth-last-of-type(2) {
	background-color:var(--color-blauw);
}

body section:last-of-type {
	background-color: var(--color-background);
}


@media (min-width:48em) {
	main section:nth-of-type(2) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows:max-content 1fr;
		justify-items:start;
		align-content: center;
		padding:6em;
	}

	main section:nth-of-type(2) h2 {
		text-align: left;
	}

	main section:nth-of-type(2) img {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		place-self: center;
		width:100%;
		height:100%;
		object-fit: contain;
	}
}


/* ARTIKELEN STIMOROL */

/* h2 - ONTDEK ALLE PRODUCTEN */
section:nth-last-of-type(1) > h2 {
	font-size:2em;
	font-weight:bold;
	color:var(--color-red);
	text-align:center;
	padding:1em 0em 1em 0em;
}

/* CONTAINER list artikelen */
section:nth-last-of-type(1) > ul {
	display:grid;
	margin:0 0.3em 0 0.3em;
	gap:0.5em;
	padding: 0;
}


/* BLOKJE boven artikel */
section:nth-last-of-type(1) ul li{
	background-color:var(--color-red);
	display:grid;
}

 /* Zo gedaan zodat hij niet groter wordt dan de containers */
section:nth-of-type(3) img {
	max-width: 100%;
	height: auto;
}

/* TITEL artikel */
main > section:nth-last-of-type(1)  ul li h3 {
	font-size: 2.5em;
	color: var(--color-text);
	text-align: center;
	order:2;
	padding-top:.5em;
}

/* KAUWGOM tekst boven artikel */
main > section:nth-last-of-type(1) ul li p {
	background-image: linear-gradient(110deg, transparent 6.7em, #e30714 .7em);
	padding: .5em 2em .5em .5em;
	position: absolute;
	background-color: var(--color-blauw);
	float: left;
	float: top;
	transform: translateY(-1em);
	order:1;	
}
main > section:nth-last-of-type(1) ul li a {
	order:3;
}

@media (min-width:48em) {
	section:nth-last-of-type(1) > ul {
		grid-template-columns: 1fr 1fr 1fr;
	}

	body > a:last-of-type {
		position: relative;		
	}
}





/* FOOTER */
/* Socials Icons */

footer{
	margin-top:2em;
	background-color:var(--color-red);
}

/* Logo onderaan */
footer > a {
	display: flex;
	padding: 1em 0em 2em 1em;
	justify-content: center;
}

footer ul:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer ul:first-of-type li {
	padding: 1em 1em 1em 1em;
	
}

/* Links in de footer */
footer ul:nth-of-type(2) li {
	display: flex;
	justify-content: center;
	padding:0.5em;
}

/* Tekst onderaan p */
footer > p {
	text-align: center;
	text-transform: none;
	font-size: 1em;
	font-weight: 300;
}

footer > ul {
	list-style: none;
}

footer > ul li a:hover {
	color: #273372;
	text-decoration: underline;
}

/* NAAR BOVEN knop onderaan de pagina*/
body > a:last-of-type {
	text-transform: none;
	letter-spacing: .05em;
	display: flex;
	justify-content: center;
	color:#e30714;
	background-color: white;
	padding: 1em 2em 2em 1em;
}

a:last-of-type > button {
	height:1em;
   	width:1em;
	display: inline-block;
	margin-right: .8em;
	border-left: .25em solid var(--color-red);
	border-top: .25em solid var(--color-red);
	border-right:none;
	border-bottom: none;
	color: var(--color-red);
	transform: translateY(1em);
	transform: rotate(45deg);
	background-color: transparent;
}